@charset "utf-8";
/* CSS Document */
/*
*{padding:0px; margin:0px;border:0;}
*/
 *{ margin:0; padding:0;}
 .div1{
 	background-image:"url(image/library.jpg)" ;
 	margin-left: 600px;
 	position: absolute;
 }
.but{
	margin-left: 600px;
}
.t{
	top: ;
}
.tiaozhuanimag{
	position:relative;
}
